body {
  margin: 0;
  padding: 0;
  background-color: rgb(196, 196, 196);
  background-color: black;
  background-attachment: fixed;
  color: rgb(0, 217, 133);

  font-family: "Roboto Flex", sans-serif;
}

.main-content {
  margin-top: 50px;
  /* Margin-top same height as header */
  /*background-color: rgba(72 54 117);*/
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}