.header {
  background-color: lightgray;
  height: 40px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed;

}

.left-section {
  background-color: lightgreen;
  align-items: center;
  margin-left: 200px;
  display: flex;
}

.site-logo {
  height: 80px;
  align-items: right;
  cursor: pointer;
}

.middle-section {
  background-color: plum;
  align-items: center;
  display: flex;
}

.sets-link {
  padding: 30px;
}

.decks-link {
  padding: 30px;
}

.right-section {
  background-color: lightgreen;
  align-items: center;
  display: flex;
  position: fixed;
  right: 200px;
}

.sign-in-link {
  padding: 30px;
}

.register-link {
  padding: 30px;
}