.header {
  background-color: lightgray;
  height: 80px;
  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed;

}

.left-section {
  background-color: lightgreen;
  align-items: center;
}

.site-logo {
  height: 80px;
}

.middle-section {
  background-color: plum;
}

.right-section {
  background-color: lightgreen;
}