.set-header {
  /*(background-image: url("templates/stardust.png");*/
  background-color: black;
  height: 25px;
  margin-top: 75px;
  text-align: center;
  color: rgb(0, 217, 133);
  font: bold 24px 'Lato', sans-serif;
}

.grid-flex-container {
  height: 10000px;
  margin: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
}

.card-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  width: 900px;
  height: 900px;
}

.card-grid div {
  background-color: #f1f1f1;
  border: none;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.card-item img {
  width: 100%;
  max-width: 25vw;
  height: auto;
  display: block;
  object-fit: contain;
  margin: auto;
}

.add-to-deck {
  width: 100%;
  max-width: 25vw;
  height: auto;
  display: block;
  object-fit: contain;
  margin: auto;
  padding: 0;
  border: none;
  border: black;
}

.add-to-deck disabled {
  opacity: hidden;
}

.remove-from-deck {
  width: 100%;
  max-width: 25vw;
  height: auto;
  display: block;
  object-fit: contain;
  margin: auto;
  padding: 0;
  border: none;
}
