<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/templates/decklistTab.css">
</head>

<body>
  <div class="decklistButtonContainer">
    <button class="decklistButton">
      <img src="/templates/deckicon.png">
    </button>
  </div>
  <div class="decklistTab">
    <h1>Decklist</h1>

  </div>
  <div class="decklistButton">
    <button class="close">Close</button>
  </div>
  </div>
</body>

</html>