.header {
  background-color: rgb(2 0 11);
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed;
  justify-content: space-between;
  z-index: 1000;
}

.left-section {
  background-color: rgb(2 0 11);
  align-items: center;
  margin-left: 200px;
  display: flex;
}

.logo-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.site-logo {
  height: 100%;
  width: 100%;
}

.middle-section {
  background-color: rgb(2 0 11);
  color: white;
  align-items: center;
  display: flex;
  flex: 2;
}

.sets-link {
  padding: 30px;
}

.decks-link {
  padding: 30px;
}

.right-section {
  background-color: rgb(2 0 11);
  align-items: center;
  display: flex;
}

.sign-in-link {
  padding: 30px;
}

.register-link {
  padding: 30px;
}